/* styles.css */
.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 149, 183, 0.9);
    z-index: 9999; /* Make sure it’s on top */
  }
  